.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links{
    display: flex;
    margin-right: 10px;
    list-style-type: none;
}

.nav-link{
    font-family: Roboto;
    font-size: 24px;
    color: #fff;
    margin-right: 10px;
}

.logout-button{
    border-width: 0px;
    border-style: solid;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    margin-right: 10px;
}