.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  background-color: rgb(48, 47, 45);
  padding: 20px;
  width: 250px;
}

.input-label {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  margin-top: 10px;
}

.input-field{
  font-family: Roboto;
  font-size: 16px;
  color: rgb(5, 1, 1);
  padding: 4px
}

.button {
  background-color: blue;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 800;
  color: #fff;
  border-color: aquamarine;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  margin-top: 10px;
  text-align: center;
}
